{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}具体查询{% endblock %}

{% block other_head %}
    <link href="{% static 'users/css/dashboard_register.css' %}" media="all" rel="stylesheet" type="text/css">
    <link href="{% static 'users/css/login_promo.css' %}" media="all" rel="stylesheet" type="text/css">
    <link href="{% static 'users/css/normalize.min.css' %}" media="all" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.0/jquery.min.js"></script>
{% endblock %}

{% block main %}
    {% if data %}

    {% endif %}
{% endblock %}